/* Styles for the App Component */

#navbar {margin:0 auto; min-width:400px; max-width:1000px;}

ul.topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #000033;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav .title {
    display: block;
    background: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 20px;
}


ul.topnav li a:hover:not(.active) {background-color: #00bfff;}

ul.topnav li a.active {background-color: #006080;}

ul.topnav li.right {float: right;}



@media screen and (max-width: 600px){
    /*ul.topnav li.right, 
    ul.topnav li {float: none;}*/
}