/* style for dashboard component */

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  color: #eee;
  height: 170px;
  min-width:160px;
  background: #001133 url("public/img/NoImage.png") no-repeat center bottom;
}

.module.Parrot {background: #001133 url("public/img/Parrot.png") no-repeat center bottom; }
.module.Penguin{background: #001133  url("public/img/Penguin.png") no-repeat center bottom; }
.module.Owl {background: #001133  url("public/img/Owl.png") no-repeat center bottom; }
.module.Crane {background: #001133  url("public/img/Crane.png") no-repeat center bottom; }


.module .title {
  display:block;
  text-align: center;
  line-height:2em;
  margin:0;
  height:40px;
  background:#00004d;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color:#ccc;
}
.grid-pad {
  padding: 10px 0 10px 10px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 10px;
}
@media (max-width: 600px) {
  .module .title {height:30px;}
  .module {
    font-size: 16px;
    max-height: 75px;
    background-image: none;
   }
   .module.Parrot {background-image: none;}
   .module.Penguin {background-image: none;}
   .module.Owl {background-image: none;}
   .module.Crane {background-image: none;}
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
